<html>
    <head>
        <title>Mini Message Board</title>
        
    </head>
    <body>
        <h1>Mini Message Board</h1>
        <a href="/new">Add New Message</a>
        <h2>Messages:</h2>
        <ul>
        <% messages.forEach(function(msg) { %>
            <li>
                <strong><%= msg.user %></strong>: <%= msg.text %>
                <br>
                <small><%= msg.added %></small>
            </li>
        <% }); %>
        </ul>
    </body>
</html>